/* This is the CSS file for the Privacy Policy Page
*
* This file serves to:
* 1. Style the privacy policy page
* 2. Other miscellaneous styles
*/


main h2 {
    text-align: center;
    max-width: 60ch; /* Shorter for headings */
    width: 100%;
    padding-bottom: var(--spacing-small);
}

main p {
    text-align: left; /* Left-align for better readability */
    margin: var(--spacing-medium) auto;
}

main ul {
    max-width: var(--text-width);
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-small) var(--spacing-medium);
    text-align: left; /* Left-align for better readability */
    list-style-position: outside;
    padding-left: 2em;
}

main li {
    max-width: var(--text-width);
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-small) var(--spacing-medium);
    text-align: left; /* Left-align for better readability */
    list-style-position: outside;
    padding-left: 2em;
}